html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.7rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.1rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p,
span,
li {
  font-size: 1.4rem;
  letter-spacing: 0.02rem;
}

div {
  font-size: 1.4rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
div,
nav,
p,
img,
span,
input {
  font-weight: normal;
}

input {
 border: none;
}

button {
  all: unset;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}
